<div style="margin-top: 0%;" class="card">
    <div class="card-header">
        <h3>Your PG List</h3>
    </div>

    <div class="card-body">
        <table class="table table-primary table-bordered table-hover ">
            <caption class="text-info">List of your PG</caption>
            <thead class="table-dark">
                <tr>
                    <th>Serial No.</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Rent</th>
                    <th>Action</th>
                   
                </tr>
            </thead>

            <tbody>
                <tr style="text-align: center;" *ngFor = "let hotel of hotels; let i = index" >

                    <td>{{i+1}}</td>
                    <td>{{hotel['pgName']}}</td>
                    <td>{{hotel['state']}}</td>
                    <td>{{hotel['city']}}</td>
                    <td>{{hotel['address']}}</td>
                    <td>{{hotel['pgRent']}}</td>
                   <td>
                       <button (click) = "getdetails(hotel.pgId)" class="btn btn-sm btn-success">Details</button>
&nbsp;
                       <button (click) = "deletePg(hotel.pgId)" class="btn btn-sm btn-danger">Delete</button>
&nbsp;
                       <button (click) = "updatePg(hotel.pgId)" class="btn btn-sm btn-warning">Update</button>
                   </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

































<!-- 
<div>
   
    <div class="row">
        
        <div class="form-group col-md-6">
            <label for="">Name</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label for="">State</label>
            <input  type="text" class="form-control">
        </div>

    </div>

    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">City</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label for="">Address</label>
            <input  type="text" class="form-control">
        </div>

    </div>

    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">Rent</label>
            <input type="number" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label for="">Total_Rooms</label>
            <input type="text" class="form-control">
        </div>

    </div>

    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">Facilities</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label for="">Deposit</label>
            <input type="text" class="form-control">
        </div>

    </div>

    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">AC-Rooms</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label for="">Non AC-Rooms</label>
            <input type="text" class="form-control">
        </div>

    </div>


</div> -->

