<h3>PG Details</h3>

<div class="form border">

    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">Name</label>
            <input [(ngModel)]='name' type="text" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="">State</label>
            <input [(ngModel)]='state' type="text" class="form-control">
        </div>
        <br>
    </div>
    <br>
    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">City</label>
            <input [(ngModel)]='city' type="text" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="">Address</label>
            <input [(ngModel)]='address' type="text" class="form-control">
        </div>
        <br>
    </div>
    <br>
    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">Landmark</label>
            <input [(ngModel)]='Landmark' type="text" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="">ZipCode</label>
            <input [(ngModel)]='ZipCode' type="text" class="form-control">
        </div>
        <br>
    </div>
    <br>
    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">Facilities</label>
            <input [(ngModel)]='facilities' type="text" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="">Deposit</label>
            <input [(ngModel)]='deposit' type="text" class="form-control">
        </div>
        <br>
    </div>
    <br>
    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">Rent</label>
            <input [(ngModel)]='rent' type="number" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="">Status</label>
            <input [(ngModel)]='Status' type="text" class="form-control">
        </div>
        <br>
    </div>

    <br>

    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">AC-Rooms</label>
            <input [(ngModel)]='acrooms' type="text" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="">Non AC-Rooms</label>
            <input [(ngModel)]='nonacrooms' type="text" class="form-control">
        </div>
        <br>
    </div>


    <br>
    <div class="row ">

        <div class="form-group col-md-6">
            <label for="">Max Room Capacity</label>
            <input [(ngModel)]='RoomCapacity' type="number" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="">Phone No</label>
            <input [(ngModel)]='PhoneNo' type="text" class="form-control">
        </div>
        <br>
    </div>
    <hr>

    <div class="row">
        <div class="form-group col-md 4">
            <button (click)="save()" class="btn btn-success">Save</button>

            <button style="margin-left: 10px;" class="btn btn-warning float-right">Cancel</button>
            <!-- style="border-radius: 0; color: blue !important;" -->
        </div>
    </div>


</div>