/* .container {
    background-color: rgb(87, 98, 156);
    height: 100%;
    width: 100%;
} */

.border{
    margin-top: 80px;
    padding: 20px;
    background-color: lavenderblush ;
    margin-bottom: 20px;
}

