
<div id="home">
    &nbsp; 
    &nbsp;
    &nbsp; 

<div class="message">
    <h1>Welcome to <span style="color: yellow;">T</span> <span style="color: red;">M</span><span style="color: green;">N</span></h1>
</div>
 
    <div class="box3">
        <img style="margin-left: 430px;" width="500px" height="300px" src="./../../assets/reception.svg">
    </div>
</div>
<div class="box1">
    <br>
    <img style="margin-bottom: 30px;" type="image/svg" src="./../../assets/icon/shield.svg">
    <p class="box11"><span class="hundred">100%</span>  <span class="box13">Hygiene Assured</span>  <br>Your Safety <span class="box12">Our Responsibility</span></p>
    <div>
    <img class="imges space" src="./../../assets/icon/arogya-setu.svg">
    <img class="imges space" src="./../../assets/icon/ppe.svg">
    <img class="imges space" src="./../../assets/icon/private-room.svg">
    <img class="imges space" src="./../../assets/icon/temp-check.svg">
    <img class="imges space" src="./../../assets/icon/who-protocols.svg">
    </div>
</div>
<div class="fill"></div>
<div class="marquee">
<marquee><strong>****  50k+     Happy Customers,    450+  Great Zolos to Choose from    10+    Cities and counting</strong></marquee>
</div>
<span style="line-height: 70px;">Our presence :</span>
<div id="carousel_wrapper" class="wrap">
    <div id="carousel_container" class="details">
        
        <div id="Slot_item_1" class="item1 slides">
            <a href="/pgs-in-mumbai">
                <div width="150" height="190" class="location sp">
                    <div class="star">
                        <img width="60" height="60" src="https://visor.gumlet.io/public/assets/images/common/new-tag.svg?compress=true" alt="new_tag" opacity="1" class="Image_styles__Img-j05qd8-0 YlqTb">
                    </div>
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Mumbai.svg" alt="Mumbai" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Mumbai</div>
                   
                </div>
            </a>
            <a href="/pgs-in-noida">
                <div width="150" height="190" class="location sp">
                    <div class="star">
                        <img width="60" height="60" src="https://visor.gumlet.io/public/assets/images/common/new-tag.svg?compress=true" alt="new_tag" opacity="1" class="Image_styles__Img-j05qd8-0 YlqTb">
                    </div>
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Noida.svg" alt="Noida" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Noida</div>
                   
                </div>
            </a>
            <a href="/pgs-in-delhi">
                <div width="150" height="190" class="location sp">
                    <div class="star">
                        <img width="60" height="60" src="https://visor.gumlet.io/public/assets/images/common/new-tag.svg?compress=true" alt="new_tag" opacity="1" class="Image_styles__Img-j05qd8-0 YlqTb">
                    </div>
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Delhi.svg" alt="Delhi" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Delhi</div>
                    
                </div>
            </a>
            <a href="/pgs-in-coimbatore">
                <div width="150" height="190" class="location sp">
                    <div class="star">
                        <img width="60" height="60" src="https://visor.gumlet.io/public/assets/images/common/new-tag.svg?compress=true" alt="new_tag" opacity="1" class="Image_styles__Img-j05qd8-0 YlqTb">
                    </div>
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Coimbatore.svg" alt="Coimbatore" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Coimbatore</div>
                    
                </div>
            </a>
            <a href="/pgs-in-bangalore">
                <div width="150" height="190" class="location">
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Bangalore.svg" alt="Bangalore" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Bangalore</div>
                </div>
            </a>
            <a href="/pgs-in-kota">
                <div width="150" height="190" class="location">
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Kota.svg" alt="Kota" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Kota</div>
                </div>
            </a>
            <a href="/pgs-in-chennai">
                <div width="150" height="190" class="location">
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Chennai.svg" alt="Chennai" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Chennai</div>
                </div>
            </a>
            <a href="/pgs-in-pune">
                <div width="150" height="190" class="location">
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Pune.svg" alt="Pune" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Pune</div>
                </div>
            </a>
            <a href="/pgs-in-gurugram">
                <div width="150" height="190" class="location">
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Gurugram.svg" alt="Gurugram" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Gurugram</div>
                </div>
            </a>
            <a href="/pgs-in-hyderabad">
                <div width="150" height="190" class="location">
                    <img width="82" height="62" src="https://play-zelo-production.s3.ap-south-1.amazonaws.com/uploads/pwa/images/Hyderabad.svg" alt="Hyderabad" opacity="1" class="Image_styles__Img-j05qd8-0 jkjDmS">
                    <div color="#343434" font-size="18" font-weight="normal" font-style="normal" height="auto" letter-spacing="normal" width="auto" class="Textstylecommon__Txt-sc-4w6sg8-0 hGPtWV" overflow="initial" display="block">Hyderabad</div>
                </div>
            </a>
        </div>
    </div>
    <button class="Carousel_styles__CarouselButton-sc-1ef4ywz-3 fbyboV">
        <img width="25" height="25" src="https://visor.gumlet.io/public/assets/images/icons/arrow_left.svg?compress=true" alt="arrow_left" opacity="1" class="Image_styles__Img-j05qd8-0 gjHCxB">
    </button>
</div>

<div class="fill"></div>
<div class="container">

    <div class="row">
      <div class="col-md-12">
        <img class="social-logo" src="./../../assets/facebook.png" alt="">
        <img class="social-logo" src="../../assets/twitter.png" alt="">
        <img class="social-logo" src="./../../assets/youtube.png" alt="">
        <img class="social-logo" src="./../../assets/instagram.png" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <ul>
          <li><a href="#"><strong>About Us</strong></a></li>
          <li><a href="#">Rooms and Locations</a></li>
          <li><a href="#">Media Gallary</a></li>
          <li><a href="#">Future Plans</a></li>
          <li><a href="#">Offers</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
            <li><a href="#"><strong>Services</strong></a></li>
          <li><a href="#">Hotel and Room</a></li>
          <li><a href="#">Meals </a></li>
          <li><a href="#">Laundry</a></li>
          <li><a href="#">Ammenities</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li><a href="#"><strong>Career</strong></a></li>
          <li><a href="#">Openigs and vacancy</a></li>
          <li><a href="#">Future</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Aim and Motive</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li><a href="#"><strong>Contact Us</strong></a></li>
          <li><a href="#">Mumbai office</a></li>
          <li><a href="#">Pune Office</a></li>
          <li><a href="#">Chennai office</a></li>
          <li><a href="#">Delhi Office</a></li>
        </ul>
      </div>
    </div>

    <button class="btn-service-code">Service Code</button>
    <div class="copyright">copyright reserved ....</div>
  </div>
